h1 {
  font-family: 'Rubik Mono One',sans-serif ;
  font-weight: 600;
  font-size: 50px;
  text-align: center;
  padding: 5px;
  color: black;
}

h2 {
  font-family: 'Londrina Shadow', cursive;
  font-size: 200px;
  color: white;
  text-align: center;
}

h3 {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 75px;
  text-align: center;
  color: white;
}

h4{
  font-family:'Rubik Mono One', sans-serif;
  font-size: 20px;
  color: black;
  
}

h5 {
  font-size: 25px;
  text-align: center;
  font-family:'Rubik Mono One', sans-serif;
  color: black;
}
.navbar-brand {

}

.navbar {
  margin-bottom: 0px;
}

#myNavbar {
  font-size: 25px;
  font-family:'Rubik Mono One', sans-serif;
  
}

.welcome {
  padding: 20px;
  background: orange;
}
.affix {
    top: 0;
    width: 100%;
}

.affix + .container {
    padding-top: 125px;
}

p {
  font-family:'Londrina Shadow', cursive;
  font-size: 20px;
  color: orange;
  padding: 20px;
  background-color: black;
}

#header {
  background: orange no-repeat center;
  display: table;
  width: 100%;
  height: 500px;
  background-size: cover;
}

#title {
  color: white;
  text-align: center;
  font-size: 25px;
}

#splash h1,
#splash h2,
#splash h3 {
    color: #c4d7f1;
    /*off-white*/
}

#splash {
    background: linear-gradient( rgb(255,127,80), rgb(255,99,71)), url('images/image-9.jpg') center no-repeat fixed;
    background-size: cover;
    text-align: center;
}

.info{
  font-family: 'Londrina Shadow', cursive;
  font-size: 25px;
  color: black;
  background-color: orange;
  padding: 20px;
}

.guide,.col-sm-3{
  background-color: orange;
  padding: 20px;
}

#contact,.jumbotron{
  font-family:'Rubik Mono One', sans-serif;
  text-align: center;
  color: black;
  
}


