h1 {
    font-family: 'Londrina Shadow', cursive;
    font-weight: 700;
    font-size: 100px;
    text-align: center;

}

h2 {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 50px;
   color:white;
   text-align: center;
}
h3 {
    font-family: 'Londrina Shadow', cursive;
    font-size: 50px;
        text-align: center;
        color:white;

}
.navbar-brand{
    padding:0px;
}

.navbar{
    margin-bottom:0px;
}

.welcome {
    padding: 20px;
    background: orange;
}

p{
    text-align: center;
    padding: 15px;
    
}

#header{
    background: yellow no-repeat center;
    display: table;
    width: 100%;
    height: 500px;
    background-size: cover;
}

#title{
    color: white;
    text-align: center;
    font-size: 25px;
}