h1 {
  font-family: 'Rubik Mono One',sans-serif ;
  font-weight: 700;
  font-size: 75px;
  text-align: center;
}

h2 {
  font-family: 'Londrina Shadow', cursive;
  font-size: 150px;
  color: white;
  text-align: center;
}

h3 {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 75px;
  text-align: center;
  color: white;
}

.navbar-brand {
  padding: 0px;
}

.navbar {
  margin-bottom: 0px;
}

#myNavbar {
  background-color: orange;
  font-size: 25px;
  font-family:'Rubik Mono One', sans-serif;
  
}


.welcome {
  padding: 20px;
  background: orange;
}
.affix {
    top: 0;
    width: 100%;
}

.affix + .container {
    padding-top: 125px;
}

p {
  text-align: center;
  padding: 15px;
}

#header {
  background: yellow no-repeat center;
  display: table;
  width: 100%;
  height: 500px;
  background-size: cover;
}

#title {
  color: white;
  text-align: center;
  font-size: 25px;
}

li{
  font-family: 'Londrina Shadow', cursive;
  font-size: 15px;
}

h5{
  font-size: 25px;
  text-align: center;
  font-family:'Rubik Mono One', sans-serif;
}


